.plant-details-container {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  min-width: 950px;
}
.plant-code-container {
  font-size: 30px;
  font-weight: 900;
}
.plant-basic-info-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 600px;
  min-width: 950px;
}
.carousel-image-container {
}
.additional-info-container {
}
.plant-images-container {
  margin: 25px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border: solid black;
  border-radius: 15px 1px 15px 1px;
}
.plant-image-details {
  max-height: 400px;
  max-width: 400px;
  display: block;
  object-fit: cover;
}
.plant-text-descriptions-container {
  width: 20%;
  border-width: 1px;
  border: solid black;
  border-radius: 1px 15px 1px 15px;
  margin: 25px 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: left;
  justify-content: space-around;
}
.observation-container {
  min-height: 20%;
  max-height: 30%;
}
.common-names-text {
  margin-top: 4px;
  font-size: 13px;
}
.observations-text {
  font-size: 14px;
  margin-top: 4px;
}
.plant-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-div {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 4px;
}
.morreu-btn {
  border-color: red;
  color: red;
}
.morreu-btn:hover {
  background-color: red;
  color: white;
}
.edit-plant-btn {
  border-color: #5555f3;
  color: #5555f3;
}
.edit-plant-btn:hover {
  background-color: blue;
  color: white;
}
.planter-info-container {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
}
.planter-image-container {
  margin-right: 16px;
}
.planter-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}
.info-selector-container {
  display: flex;
  flex-direction: row;
}
.button-additional-selector-container {
  background-color: rgb(214, 212, 212);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
}
.button-additional-selector-container:hover {
  box-shadow: 0 0 1em black;
}
.button-additional-selector-container-selected {
  background-color: rgb(161, 160, 160);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
}
.additional-info-container {
  background-color: rgb(161, 160, 160);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 48px;
  border-radius: 0px 15px 5px 5px;
}
.diary-entries-container {
  display: flex;
  flex-direction: column;
}
.diary-entry-container {
  background-color: white;
  height: auto;
  padding: 8px;
  border-radius: 12px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}
.date-entry {
  font-size: 14px;
  margin-left: 10px;
}
