.home-container {
  min-width: 400px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 40px;
}
.plants-list-container {
  margin-top: 72px;
  background-color: #d3d3d3;
  width: 70vw;
  min-width: 300px;
  min-height: 1000px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(220px, 2fr)
  );
  padding: 80px 30px 80px 50px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 0 0.8em black;
}
.plant-details-home {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 23vw;
  min-height: 300px;
  max-height: 400px;
  width: 14vw;
  min-width: 200px;
  max-width: 250px;
  align-items: center;
  color: black;
  box-shadow: 0 0 1.3em gray;
}
.plant-img-container {
  width: 11vw;
  min-width: 140px;
}
.plant-sci-name {
}
.plant-owner {
}

.plant-code {
}

.plant-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.plant-condition {
}
.plant-date {
}
