<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="
        section
        section-lg
        section-hero
        section-shaped
      ">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="
          container
          shape-container
          d-flex
          align-items-center
          py-lg
          
        ">
        <div class="col px-0">
          <div class="
              row
              align-items-center
              justify-content-center
            ">
            <div class="col-lg-6 text-center home-container">
              <h1>Busca Por Filtro</h1>
              <div class="plants-list-container">
                <!--Lista das Plantas-->

                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>
                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>
                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>
                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>
                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>
                <div class="plant-details-home">
                  <div class="plant-img-container">
                    <img src="./assets/img/theme/team-3-800x800.jpg" alt="Raised image"
                      class="img-fluid rounded shadow-lg">
                  </div>
                  <p class="plant-sci-name">Araucaria Angustifolia</p>
                  <p class="plant-owner">Rodrigo Ferraz Souza</p>
                  <p class="plant-code">XvA</p>
                  <div class="plant-status">
                    <p class="text-success plant-condition">Viva</p>
                    <p class="plant-date">12/06/2021</p>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</main>