<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="
        section
        section-lg
        section-hero
        section-shaped
      ">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="
          container
          shape-container
          d-flex
          align-items-center
          py-lg
          
        ">
        <div class="col px-0">
          <div class="
              row
              align-items-center
              justify-content-center
              col-sm-12
            ">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center home-container">
              <h1 style="color: white;">Busca Por Filtro</h1>
              <div class="plants-list-container col-lg-12 col-md-12 col-12 row">
                <!--Lista das Plantas-->



                <div class=" plant-details-home col-lg-3 col-md-4 col-sm-6 col-7"
                  *ngFor="let plant of homeService.plantas.Plants">
                  <div class="plant-img-container">
                    <img
                      [src]="plant.Images.length>0?'data:image/jpeg;base64,'+plant.Images[0].img_plant:'./assets/img/default/default_plant.jpg'"
                      alt="Raised image" class="img-fluid rounded plant-image">
                  </div>
                  <div class="plant-dets">
                    <p class="plant-sci-name">{{plant.Details.scientific_name}}</p>
                    <p class="plant-owner">{{plant.Details.user_name}}</p>
                  </div>
                  <p class="plant-code"><b>{{plant.Details.id_plant}}</b></p>
                  <div class="plant-status">
                    <p class="plant-condition" [class]="plant.Details.date_death?'text-danger':'text-success'">
                      {{plant.Details.date_death?"Morta":"Viva"}} </p>
                    <p class="plant-date">
                      {{
                      plant.Details.date_death?
                      (plant.Details.date_death*1000 | date :'dd/MM/yyyy'):
                      ((plant.Details.day_planted?
                      plant.Details.day_planted+'/':'') +
                      (plant.Details.month_planted?(plant.Details.month_planted+'/'):'')+
                      (plant.Details.year_planted?plant.Details.year_planted:'')
                      )}}


                    </p>
                  </div>
                </div>





              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</main>