<footer class="footer"
  [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">

  <div class="container">
    <div class="row row-grid align-items-center"
      [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-7">
        <h3 class="text-primary font-weight-light mb-2">Obrigado por utilizar nossa plataforma!</h3>
        <h4 class="mb-0 font-weight-light">Pode nos encontrar em qualquer uma dessas redes.</h4>
      </div>
      <div class="col-lg-5 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/sadDetona"
          class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/rodrigo.ferrazsouza.52"
          class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>

        <a target="_blank" href="https://github.com/souzacode"
          class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
    <hr>

  </div>
</footer>